body{
	font-size:regular;
	font-family verdena, Melvectica, arial, sans-serif;
	line-hight: 1.6em
}
h1,h2{
	color:#007e7e
}
h2 {
	font-size:150%;
	text-decoration: underline;
}
#main {
	border: 1px solid black;
	border-radius: 25px;
	background-color: #64D5F2;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	font-family: Georgia, "New Times Roman", Times. serif;
	color: #010000;
}
#main-1 {
	border: 1px solid black;
	border-radius: 25px;
	background-color: #a1f79d;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	font-family: Georgia, "New Times Roman", Times. serif;
	color: #010000;
}
#main-2 {
	border: 1px solid black;
	border-radius: 25px;
	background-color: #f2ffa2;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	font-family: Georgia, "New Times Roman", Times. serif;
	color: #010000;
}
#main-3 {
	border: 1px solid black;
	border-radius: 25px;
	background-color: #ff7f83;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	font-family: Georgia, "New Times Roman", Times. serif;
	color: #010000;
}